$background-color: #282c33;
$primary-color: #78dd7c;
$gray-color: #abb2bf;

$breakpoint-mobile: '(max-width: 700px)';
$breakpoint-tablet: '(min-width: 701px) and (max-width: 1120px)';

$mobile-max-width: 700px;