@use '/static/fonts/FiraCode/style.css';
@use 'var';

* {
  box-sizing: border-box;
  font-family: Fira Code;
}

img, svg {
  display: block;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline wavy;
    }
  }
}

body {
  color: white;
  background-color: var.$background-color;
  padding: 0;
  margin: 0;

  &.stop-scroll {
    overflow-y: hidden;
  }
}

#app {
  max-width: 1023px;
  padding: 0 60px;
  margin: 0 auto;
}

/* Mobile */
@media #{var.$breakpoint-mobile} {
  #app {
    padding: 56px 16px 0;
  }
}

@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  /* .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  } */
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

