<script setup lang="ts">
  import DefaultButton from '@/components/DefaultButton.vue';
  import QuotesIcon from '@/assets/icons/quotes.svg?component';
</script>

<template>
  <main>
    <section>
      <div class="main-info-wrapper">
        <div class="describe-info">
          <h1>Read carefully:<br />I'm a <span>frontend developer</span></h1>
          <p>
            P.S. <span>Frontend ≠ DevOps,</span> {{ ' ' }}
            <span>Frontend ≠ Backend,</span> {{ ' ' }}
            <span>Frontend ≠ ChatGPT</span> and etc.
          </p>
          <DefaultButton class="contact-button">Contact me</DefaultButton>
        </div>
        <div class="image-container">
          <img src="/images/main-screen-human.png" alt="Main Screen Human" />
          <div class="work-status">
            <div class="status" />
            <span>
              Currently working in
              <a href="//ipplum.by/" target="_blank">IPPlum LLC</a>
            </span>
          </div>
        </div>
      </div>
      <div class="quote-wrapper">
        <div class="quote">
          <span class="text">
            <div class="quotes-icon-wrapper"><QuotesIcon /></div>
            With great power comes great electricity bill
            <div class="quotes-icon-wrapper"><QuotesIcon /></div>
          </span>
          <span class="author">- Dr. Whoknows?</span>
        </div>
      </div>
    </section>
  </main>
</template>

<style lang="scss" scoped>
  @use '@/styles/var';

  main {
    section {
      .main-info-wrapper {
        display: flex;
        align-items: center;

        .describe-info {
          h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;

            span {
              color: var.$primary-color;
            }
          }

          p {
            margin: 32px 0 24px;
            color: var.$gray-color;
            line-height: 25px;

            span {
              white-space: nowrap;
            }
          }

          .contact-button {
            @media #{var.$breakpoint-mobile} {
              display: none;
            }
          }
        }

        .image-container {
          img {
            width: 100%;
          }

          .work-status {
            display: flex;
            align-items: center;
            border: 1px solid var.$gray-color;
            padding: 8px;

            .status {
              min-width: 16px;
              min-height: 16px;
              background-color: var.$primary-color;
              margin-right: 10px;
            }

            span {
              align-items: center;
              font-weight: 500;
              color: var.$gray-color;

              a {
                color: white;
                white-space: nowrap;
                font-weight: 600;
              }
            }
          }
        }

        @media #{var.$breakpoint-mobile} {
          flex-flow: wrap;
          justify-content: center;
        }
      }

      .quote-wrapper {
        display: grid;
        place-content: center;
        padding: 112px 0 74px;

        .quote {
          display: flex;
          flex-flow: column;

          span {
            font-size: 24px;

            &.text {
              font-weight: 500;
              padding: 32px;
              border: 1px solid var.$gray-color;
              position: relative;

              .quotes-icon-wrapper {
                background-color: var.$background-color;
                position: absolute;
                top: 0;
                left: 12px;
                transform: translateY(-50%);
                width: 42px;

                &:last-child {
                  top: auto;
                  left: auto;
                  bottom: 0;
                  right: 12px;
                  transform: translateY(50%);
                }

                svg {
                  color: var.$gray-color;
                }
              }
            }

            &.author {
              align-self: end;
              padding: 16px;
              border: 1px solid var.$gray-color;
              border-top: 0;
            }
          }
        }
      }
    }
  }
</style>
