<script setup lang="ts">
  import { reactive, ref } from 'vue';
  import ArrowBottom from '@/assets/icons/arrow-bottom.svg?component';
  import { onClickOutside } from '@vueuse/core';

  const testLangs = reactive(['EN', 'RU']);
  const selectedLangIndex = ref(0);
  const show = ref(false);
  const dropboxRef = ref(null);

  const handleClickOutside = () => {
    show.value = false;
  };

  const handleItemClick = (index: number) => {
    selectedLangIndex.value = index;
    show.value = false;
  };

  onClickOutside(dropboxRef, handleClickOutside);
</script>

<template>
  <div :class="['container', { show }]">
    <div class="current-lang" @click="show = !show">
      <span>{{ testLangs[selectedLangIndex] }}</span>
      <ArrowBottom />
    </div>
    <div ref="dropboxRef" class="dropbox">
      <div
        v-for="(lang, index) in testLangs"
        :key="index"
        class="item"
        @click="handleItemClick(index)"
      >
        {{ lang }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @use '@/styles/var';

  .container {
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var.$gray-color;

    .current-lang {
      display: flex;
      align-items: center;
    }

    span {
      font-weight: 600;
    }

    svg {
      margin: 0 0 2px 2px;
    }

    .dropbox {
      display: none;
      background-color: var.$background-color;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px;
      border: 1px solid var.$gray-color;

      .item {
        color: var.$gray-color;
        font-weight: 400;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: white;
          }
        }
      }
    }

    &.show {
      color: white;

      svg {
        transform: rotate(-180deg);
      }

      .dropbox {
        display: block;
      }
    }
  }
</style>
