<script lang="ts" setup>
  const props = defineProps<{ grayStyle?: boolean }>();
</script>

<template>
  <button :class="{ gray: props.grayStyle }">
    <span>
      <slot></slot>
    </span>
  </button>
</template>

<style lang="scss" scoped>
  @use '@/styles/var';

  button {
    cursor: pointer;
    border: 1px solid var.$primary-color;
    padding: 8px 16px;
    background: transparent;

    span {
      font-weight: 500;
      color: white;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(120, 221, 124, 0.2);
      }
    }

    &.gray {
      border-color: var.$gray-color;

      span {
        color: var.$gray-color;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: rgba(171, 178, 191, 0.2);
        }
      }
    }
  }
</style>
