<script lang="ts" setup>
  import { ref } from 'vue';
  import NavElements from '@/components/NavElements.vue';
  import GitHubIcon from '@/assets/icons/github.svg?component';
  import TelegramIcon from '@/assets/icons/telegram.svg?component';
  import LinkedInIcon from '@/assets/icons/linkedin.svg?component';
  import { STOP_SCROLL_TOGGLE_BODY_CLASSNAME } from '@/assets/consts';

  const showNav = ref(false);

  const toggleMobileShowNav = () => {
    showNav.value
      ? document.body.classList.remove(STOP_SCROLL_TOGGLE_BODY_CLASSNAME)
      : document.body.classList.add(STOP_SCROLL_TOGGLE_BODY_CLASSNAME);

    showNav.value = !showNav.value;
  };

  const handleBurgerButtonClick = () => {
    toggleMobileShowNav();
  };

  const handleLinkClick = () => {
    toggleMobileShowNav();
  };
</script>

<template>
  <header :class="{ open: showNav }">
    <span class="logo">x8er</span>
    <NavElements @on-link-click="handleLinkClick" />
    <NavElements class="mobile" @on-link-click="handleLinkClick" />
    <div class="burger-button" @click="handleBurgerButtonClick">
      <div class="middle-line" />
    </div>
    <div class="social-icons">
      <div class="vertical-line" />
      <div class="links">
        <a href="//github.com/x8er" target="_blank"><GitHubIcon /></a>
        <a href="//t.me/x8erok" target="_blank"><TelegramIcon /></a>
        <a href="//linkedin.com/in/maxim-stolyarov-a956a1209" target="_blank"
          ><LinkedInIcon
        /></a>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
  @use '@/styles/var';

  header {
    display: flex;
    justify-content: space-between;
    align-content: start;
    align-items: center;
    padding: 32px 0 8px 0;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var.$background-color;
    position: relative;
    z-index: 1;

    .logo {
      font-weight: 700;
    }

    .burger-button {
      display: none;
      width: 24px;
      height: 24px;
      position: relative;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      transition: gap 0.2s linear 0.2s;

      @media #{var.$breakpoint-mobile} {
        display: flex;
      }

      &::before,
      &::after,
      .middle-line {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
        transition: transform 0.2s linear, margin-top 0.2s linear 0.2s,
          margin-bottom 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
      }
    }

    nav.mobile {
      display: none;
    }

    .social-icons {
      position: fixed;
      top: 0;
      left: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 8px;

      .vertical-line {
        height: 191px;
        width: 1px;
        background-color: var.$gray-color;

        @media #{var.$breakpoint-tablet} {
          height: 80px;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var.$gray-color;
        row-gap: 8px;

        svg {
          width: 32px;

          &:hover {
            color: white;
          }
        }
      }
    }

    @media #{var.$breakpoint-mobile} {
      padding: 16px 16px;
      position: fixed;
      flex-wrap: wrap;

      nav {
        display: none;

        &.mobile {
          display: flex;
        }
      }

      .social-icons {
        display: none;
      }

      &.open {
        height: 100vh;

        nav.mobile {
          margin-top: 0;
          opacity: 1;
        }

        .burger-button {
          gap: 0;
          transition: gap 0.2s linear;

          &::before,
          &::after,
          .middle-line {
            transition: transform 0.2s linear 0.2s, margin-top 0.2s linear,
              margin-bottom 0.2s linear, opacity 0.2s linear;
          }

          &::before {
            transform: rotate(45deg);
            margin-bottom: -1px;
          }

          &::after {
            transform: rotate(-45deg);
            margin-top: -1px;
          }

          .middle-line {
            opacity: 0;
          }
        }
      }
    }
  }
</style>
