<script setup lang="ts">
  import { ref } from 'vue';
  import { RouterLink } from 'vue-router';
  import CustomSelect from '@/components/CustomSelect.vue';
  import GitHubIcon from '@/assets/icons/github.svg?component';
  import TelegramIcon from '@/assets/icons/telegram.svg?component';
  import LinkedInIcon from '@/assets/icons/linkedin.svg?component';

  const emit = defineEmits(['onLinkClick']);
  const stabelizedURL = import.meta.env.BASE_URL.endsWith('/')
    ? import.meta.env.BASE_URL
    : `${import.meta.env.BASE_URL}/`;
  const links = ref([
    { name: 'home', to: `${stabelizedURL}` },
    { name: 'works', to: `${stabelizedURL}works` },
    { name: 'about-me', to: `${stabelizedURL}about` },
    { name: 'contacts', to: `${stabelizedURL}contacts` },
  ]);
</script>

<template>
  <nav>
    <RouterLink
      v-for="({ name, to }, index) in links"
      :key="index"
      :to="to"
      active-class="selected"
      @click="emit('onLinkClick')"
      >{{ name }}</RouterLink
    >
    <CustomSelect class="restyle-font-size" />
    <div class="social-icons">
      <a href="//github.com/x8er"><GitHubIcon /></a>
      <a href="//t.me/x8erok"><TelegramIcon /></a>
      <a href="https://www.linkedin.com/in/maxim-stolyarov-a956a1209/"
        ><LinkedInIcon
      /></a>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
  @use '@/styles/var';

  nav {
    display: flex;
    gap: 32px;

    & > * {
      width: fit-content;
    }

    & > a {
      color: var.$gray-color;
      text-decoration: none;

      &::before {
        content: '#';
        color: var.$primary-color;
      }

      &.selected {
        font-weight: 500;
        color: white;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: white;
        }
      }
    }

    .social-icons {
      display: none;
      column-gap: 8px;
      color: var.$gray-color;
      margin: 0 auto;
      transition: color 0.2s linear;

      svg {
        width: 64px;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: white;
          }
        }
      }
    }

    @media #{var.$breakpoint-mobile} {
      margin-top: -100vh;
      opacity: 0;
      flex-direction: column;
      padding: 47px 0 36px;
      order: 3;
      width: 100%;
      transition: margin-top 0.3s linear, opacity 0.5s linear;

      a,
      .restyle-font-size {
        font-size: 32px;
      }

      .social-icons {
        display: flex;
      }
    }
  }
</style>
