@font-face {
  font-family: Fira Code;
  src: url(/fonts/FiraCode/ttf/FiraCode-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Fira Code';
  src: url(/fonts/FiraCode/ttf/FiraCode-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Fira Code;
  src: url(/fonts/FiraCode/ttf/FiraCode-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Fira Code;
  src: url(/fonts/FiraCode/ttf/FiraCode-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Fira Code;
  src: url(/fonts/FiraCode/ttf/FiraCode-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}